@import '../lib/mixin';

div#content p.note.urgency {
  font-size: 13px;
  @include smart-light-theme {
    color: var(--light-theme-color-urgency);
  }
  @include smart-dark-theme {
    color: var(--dark-theme-color-urgency);
  }
}

div#content ul.note.list li.item {
  background: inherit;
  box-shadow: none;
  padding-bottom: 8px;

  &:hover {
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);

    @include smart-light-theme {
      background: white;
    }


    @include smart-dark-theme {
      background: #393e46;
    }

    a.note {
      opacity: 1;
    }
  }
}
