@import '../lib/mixin';

div#content ul.note.list li.item {
  background: inherit;
  box-shadow: none;
  padding-bottom: 8px;

  &:hover {
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.12);

    @include smart-light-theme {
      background: white;
    }


    @include smart-dark-theme {
      background: #393e46;
    }

    a.note {
      opacity: 1;
    }
  }
}
