@import '../lib/mixin';

div#book {

  $expandWidth1: 1800px;
  $expandWidth2: 1470px;
  $collapseWidth: 1100px;
  $compatWidth: 1000px;
  $narrowWidth: 500px;

  @include margin-side(auto);
  align-items: flex-start;

  display: flex;

  flex-direction: row-reverse;

  max-width: 1920px;

  @include max-min-width($collapseWidth, $compatWidth) {
    max-width: $compatWidth;
  }


  @include max-width($collapseWidth) {
    align-items: stretch;
    flex-direction: column !important;
  }

  h1.article.title {
    border-bottom: 2px dotted #7775;
    font-size: 24px;
    padding-bottom: 12px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  &.left-side {
    flex-direction: row;
  }


  &.toc-expanded {
    div#toc-list {
      display: block !important;
    }

    div.toolbar button#tocButton::before {
      content: 'ー ' !important;
    }

    div.article-container {
      @include max-width($expandWidth1) {
        flex: 3 1 60%;
      }


      @include max-width($expandWidth2) {
        flex: 3 1 70%;
      }
    }

    aside#menu {
      @include max-width($expandWidth1) {
        flex: 1 6 28%;
      }


      @include max-width($expandWidth2) {
        flex: 1 6 20%;
      }
    }

    div.placeholder {
      @include max-width($expandWidth1) {
        flex: 0 6 14%;
      }


      @include max-width($expandWidth2) {
        flex: 1 6 0;
      }
    }
  }

  div.placeholder {
    flex: 1 6 20%;

    @include max-width($expandWidth2) {
      flex: 1 6 5%;
    }
  }

  aside#menu {
    flex: 1 6 20%;


    position: sticky;
    top: 1rem;

    @include max-width($expandWidth2) {
      flex: 1 6 5%;
    }

    @include max-width($collapseWidth) {
      position: unset;
    }


    &.fix-top {
      position: sticky;
      top: 0;
    }

    div#toc {
      @include max-width($collapseWidth) {
        margin-bottom: 1rem;
      }


      div.toolbar {
        margin-left: 1.3rem;

        @include max-width($collapseWidth) {
          margin-left: 0;
        }


        button {
          border: none;
          border-radius: 5px;
          padding: 0.2rem 0.7rem;
          text-decoration: none;

          @include smart-light-theme {
            background: var(--light-theme-color-blob);
            box-shadow: 1px 1px 4px var(--light-theme-color-shadow);
            color: white;
          }


          @include smart-dark-theme {
            background: var(--dark-theme-color-blob);
            box-shadow: 1px 1px 4px var(--dark-theme-color-shadow);
            color: #ddd;
          }

          &::-moz-focus-inner {
            border: 0;
          }

          &:focus {
            outline: 0;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            opacity: 1;
          }
        }

        button#tocButton::before {
          content: '＋ ';
        }

        button#scroll {
          all: unset;
          border-radius: 50%;
          bottom: 30px;
          box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.12);
          display: none;
          height: 65px;
          position: fixed;
          right: 30px;
          width: 65px;
          z-index: 10000;

          &.scrolling {
            display: unset;
          }

          svg {
            border-radius: 50%;
            height: 100%;
            width: 100%;

            @include smart-light-theme {
              background-color: var(--light-theme-color-blob);

              path {
                fill: #fff;
              }
            }


            @include smart-dark-theme {
              background-color: var(--dark-theme-color-blob);

              path {
                fill: #333;
              }
            }
          }
        }
      }

      div#toc-list {
        border-radius: 6px;
        box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);

        display: none;
        margin-left: 1.3rem;
        margin-top: 0.4rem;
        max-height: 85vh;
        max-width: 300px;
        overflow-y: auto;


        scrollbar-width: thin;

        @include max-width($collapseWidth) {
          margin-left: 0;
          max-height: unset;
          overflow-y: unset;
        }

        @include smart-light-theme {
          background: white;
          scrollbar-color: #aaa #fff;
        }


        @include smart-dark-theme {
          background: #393e46;
          scrollbar-color: #666 rgba(0, 0, 0, 0);
        }


        &:hover {
          @include smart-light-theme {
            scrollbar-color: var(--light-theme-color-blob) #fff;
          }


          @include smart-dark-theme {
            scrollbar-color: var(--dark-theme-color-blob) rgba(0, 0, 0, 0);
          }
        }

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background-color: unset;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;

          @include smart-light-theme {
            background-color: #aaa;
          }


          @include smart-dark-theme {
            background-color: #666;
          }
        }

        &:hover::-webkit-scrollbar-thumb {
          @include smart-light-theme {
            background-color: var(--light-theme-color-blob);
          }


          @include smart-dark-theme {
            background-color: var(--dark-theme-color-blob);
          }
        }

        #TableOfContents {
          font-size: 0.82rem;
          padding-right: 1rem;

          > ul {
            padding-bottom: 1rem;
          }

          ul {
            list-style-type: none;
            padding-left: 1.25rem;

            li {
              padding-top: 0.35rem;

              ::marker {
                color: #7a7a7a;
              }
            }
          }

          ul ul {
            list-style-type: decimal;
          }
        }

        a {
          @include smart-dark-theme {
            color: #909ec7;
          }
        }
      }
    }
  }

  div.article-container {
    flex: 3 1 60%;

    @include max-width(450px) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

div.article-container {
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);
}

article.article.markdown-body {
  @include smart-light-theme {
    color: #222;
  }


  @include smart-dark-theme {
    color: rgba(255, 255, 255, 0.65);
  }


  a {
    @include smart-light-theme;
    @include smart-dark-theme {
      color: var(--dark-theme-color-link);
    }
  }

  p code,
  li code {
    border-radius: 3px;
    hyphens: none;
    padding: 0.1rem 0.3rem;

    @include smart-light-theme {
      background-color: var(--light-theme-color-code-blob);
      color: var(--light-theme-color-code-glyph);
    }


    @include smart-dark-theme {
      background-color: var(--dark-theme-color-code-blob);
      color: var(--dark-theme-color-code-glyph);
    }
  }

  pre {
    @include smart-light-theme {
      background-color: var(--light-theme-color-code-block-blob);
    }


    @include smart-dark-theme {
      background-color: var(--dark-theme-color-code-block-blob);
      border: none;
    }


    code,
    kbd,
    samp {
      @include smart-dark-theme {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }

  blockquote {
    padding: 0.35em;

    @include smart-light-theme {
      border-left: 6px solid var(--light-theme-color-blob);
    }


    @include smart-dark-theme {
      border-left: 6px solid var(--dark-theme-color-blob);
    }
  }
}

section.article.license {
  font-size: 0.8rem;
  text-align: right;

  @include smart-light-theme {
    color: var(--light-theme-color-faint);
  }


  @include smart-dark-theme {
    color: var(--dark-theme-color-faint);
  }
}

section.article.discussion {
  border: none;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);
  @include smart-light-theme {
    background: #fff;
  }
  @include smart-dark-theme {
    background: #393e46;
  }
  #load-hint {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  .dot {
    color: #888;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-left: 0.6rem;
    animation: 1.8s ease-in-out dotBouncing;
    animation-iteration-count: infinite;
  }
  .dot.d1 {
    animation-delay: 0;
  }
  .dot.d2 {
    animation-delay: 0.2s;
  }
  .dot.d3 {
    animation-delay: 0.4s;
  }
  @keyframes dotBouncing {
    0%,
    80%,
    100% {
      box-shadow: 0 10px 0 -10px
    }
    40% {
      box-shadow: 0 10px 0 0
    }
  }
}
