@import "../lib/mixin";

div.note.list {
  max-width: var(--block2-max-width);

  @include margin-side(auto);

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

a.flytag {
  max-width: 200px;
  margin: 10px;
  border-radius: 5px;
  visibility: hidden;

  @include smart-light-theme {
    border: 2px solid var(--light-theme-color-blob);
  }


  @include smart-dark-theme {
    border: 2px solid var(--dark-theme-color-blob);
  }


  p {
    font-size: 15px;
    padding: 0 8px;

    @include smart-light-theme {
      color: var(--light-theme-color-glyph);
    }


    @include smart-dark-theme {
      color: var(--dark-theme-color-glyph);
    }
  }

  &:hover {
    text-decoration: none;

    @include smart-light-theme {
      background: var(--light-theme-color-blob);
      box-shadow: 1px 1px 7px var(--light-theme-color-shadow);
    }


    @include smart-dark-theme {
      background: var(--dark-theme-color-blob);
      box-shadow: 1px 1px 7px var(--dark-theme-color-shadow);
    }


    p {
      @include smart-light-theme {
        color: white;
      }


      @include smart-dark-theme {
        color: #eee;
      }
    }
  }
}
