// 并排显示文章和侧边栏
// 只在屏幕尺寸足够宽时才允许
$screen-width: 1140px;

// 在使用grid布局之前，先解除主容器的宽度限制
@media (min-width: $screen-width) {
  #content {
    max-width: unset;

    // 但需要恢复文章容器、主页列表和留言区的宽度
    .note.list,
    .article.bottom,
    // 注意404页面只有文章容器
    .article-container {
      max-width: 744px;
      margin: 0 auto;
    }
  }
}

// 使用grid布局来并排显示
@media (min-width: $screen-width) {
  #article-and-sidebar {
    display: grid;
    justify-content: center;
    align-items: start;
    // TODO: 不在这里写侧边栏的button的宽度
    grid-template-columns: 3rem auto 3rem;
    column-gap: 10px;

    .article-container {
      grid-column-start: 2; // 居中
    }

    // 侧边栏的目录被激活时
    &.enabled {
      grid-template-columns: auto auto;
      column-gap: 40px;

      .article-container {
        grid-column-start: 1;
      }
    }
  }
}

// 文章的侧边栏使用sticky定位
@media (min-width: $screen-width) {
  #article-sidebar {
    position: sticky !important;
    bottom: unset;
    right: unset;
    top: 10px;
    min-height: 280px; // 为什么？
    box-shadow: none !important; // 并排不要阴影！
  }
}

// 并排时的一些微调
@media (min-width: $screen-width) {
  .article-container {
    box-shadow: unset;
    border-radius: unset;
  }
}
