{{- define "head-meta" -}}{{- partial "head-meta.html" . -}}{{- end -}}
{{- define "head-link" -}}
{{- if eq .RelPermalink "/about/" -}}
<link rel="preconnect" href="https://i.loli.net">
<link rel="dns-prefetch" href="https://i.loli.net">
{{- end -}}
{{- partial "head-link.html" . -}}
{{- end -}}

{{- define "head-style" -}}
  {{- if eq .RelPermalink "/about/" -}}
    {{ $style := resources.Get "/css/pages/about.scss" | toCSS | minify }}
    <style type="text/css">{{ $style.Content | safeCSS }}</style>
  {{- end -}}
  {{- partial "head-style.html" . -}}
{{- end -}}

{{- define "head-script" -}}
  {{- if eq .RelPermalink "/about/" -}}
    {{ $script := resources.Get "/js/iconfont.js" | minify | fingerprint "sha384" }}
    <script src="{{ $script.RelPermalink }}" async defer
      integrity="{{ $script.Data.Integrity }}"></script>
  {{- end -}}
  {{- partial "head-script.html" . -}}
{{- end -}}

{{- define "main" -}}
<div id="book">
  <div class="article-container">
    <article class="article markdown-body">{{- .Content -}}</article>
  </div>
  <div class="placeholder"></div>
</div>
{{- end -}}

{{- define "body-script" -}}{{- partial "body-script.html" . -}}{{- end -}}
