{{- define "head-meta" -}}{{- partial "head-meta.html" . -}}{{- end -}}
{{- define "head-link" -}}
{{- if eq .RelPermalink "/about/" -}}
<link rel="preconnect" href="https://i.loli.net">
<link rel="dns-prefetch" href="https://i.loli.net">
{{- end -}}
{{- partial "head-link.html" . -}}
{{- end -}}
{{- define "head-style" -}}{{- partial "head-style.html" . -}}{{- end -}}
{{- define "head-script" -}}{{- partial "head-script.html" . -}}{{- end -}}

{{- define "main" -}}
<div id="book">
  <div class="article-container">
    <article class="article markdown-body">{{- .Content -}}</article>
  </div>
  <div class="placeholder"></div>
</div>
{{- end -}}
