{{- define "main" -}}

{{/* 新增一个div用于排列文章和侧边栏。评论区在这个div外面 */}}
{{/* FIXME: 为什么用main不用div？*/}}
{{/* 评论区不是该在main里面吗？(所以应该在baseof.html里用main) */}}
<main id="article-and-sidebar">
  <div class="article-container">
    {{- partial "article-header.html" . -}}

    {{/* 封面图。从.article.markdown-body中移出 */}}
    {{- with .Params.cover -}}
      <p><img class="cover" src="{{- . | safeURL -}}" alt></p>
    {{- end -}}

    <article class="article markdown-body">
      {{- .Content -}}
    </article>

    {{/* 去掉文章末尾的结构，只保留自定义的article-extra.html */}}
    {{/* {{- partial "article-labels.html" . -}} */}}
    {{/* {{- partial "article-share.html" . -}} */}}
    {{/* {{- partial "article-license.html" . -}} */}}
    {{/* {{- partial "article-author.html" . -}} */}}
    {{- partial "article-extra.html" . -}}
  </div>

  {{/* 侧边栏目录 */}}
  {{ if (ne .Params.toc false) }}
    <div id="article-sidebar" class="article sidebar">
      <button onclick="sidebarManager.toggle()">目录</button>
      {{ .TableOfContents }}
    </div>
  {{ end }}
</main>

<div class="article bottom">
  {{/* 去掉导航到其他文章 */}}
  {{/* {{- partial "article-bottom-navigation.html" . -}} */}}
  {{- partial "article-comments.html" . -}}
</div>

{{- end -}}
