@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  to {
    visibility: visible;
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
