@import "lib/mixin";

div#content {
  @include margin-side(auto);
  max-width: unset;
  // article list
  > ul {
    @include margin-side(auto);
    max-width: var(--block2-max-width);
    @include max-width(500px) {
      @include margin-side(-20px);
    }
  }
  // article
  > section {
    @include margin-side(auto);
    max-width: var(--block2-max-width);
  }
  // not article header
  > section.article.header h1 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #7775;

    @include smart-light-theme {
      color: #777;
    }
    @include smart-dark-theme {
      color: #999;
    }
  }
}
