@import lib
@import animation

\:root
  --block1-max-width: 980px
  --block2-max-width: 780px
  --light-theme-color-blob: #c586c6
  --light-theme-color-glyph: #943c95
  --light-theme-color-shadow: #9d90aa
  --light-theme-color-faint: rgba(0,0,0,.5)
  --light-theme-color-code-glyph: var(--light-theme-color-glyph)
  --light-theme-color-code-blob: #f0f0f0
  --light-theme-color-code-block-blob: #f0f0f0
  --dark-theme-color-blob: #705571
  --dark-theme-color-glyph: #a684a6
  --dark-theme-color-shadow: #363446
  --dark-theme-color-faint: rgba(255,255,255,.5)
  --dark-theme-color-code-glyph: var(--dark-theme-color-glyph)
  --dark-theme-color-code-blob: rgba(0,0,0,.1)
  --dark-theme-color-code-block-blob: rgba(0,0,0,.35)
  --dark-theme-color-link: #3e9dd7

\:root:not([data-user-color-scheme])
  @media (prefers-color-scheme: dark)
    @import 'notepadium-dark-style.scss'
    @import 'vendor/chroma-solarized-dark.scss'
\:root[data-user-color-scheme='dark']
  @import 'notepadium-dark-style.scss'
  @import 'vendor/chroma-solarized-dark.scss'

html
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif, "Twemoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji"
  font-size: 16px
  line-height: 1.8

body
  @include smart-dark-theme
    background: #222831
  @include smart-light-theme
    background: #f0f0f0

::-webkit-scrollbar
  width: 12px
::-webkit-scrollbar-track
  @include smart-light-theme
    background-color: #ccc
  @include smart-dark-theme
    background-color: #555
::-webkit-scrollbar-thumb
  @include smart-light-theme
    background-color: #999
  @include smart-dark-theme
    background-color: #999

div.warn
  color: white
  background: #7373cc
  text-align: center
  padding: 0.5rem
  margin-bottom: 1rem
  box-shadow: 0px 1px 8px #5454a0
  a
   color: pink

div.base-body
  overflow: unset
  max-width: unset
  > *
    @include margin-side(auto)
    max-width: var(--block2-max-width)
  div#content
    @include margin-side(auto)
    max-width: unset
    // article list
    > ul
      @include margin-side(auto)
      max-width: var(--block2-max-width)
      @include max-width(500px)
        @include margin-side(-20px)
    // article
    > section
      @include margin-side(auto)
      max-width: var(--block2-max-width)

section#header
  border: none
  div.site.slogan
    display: none

section#header div.header
  span.left-side span.site.name
    padding: 0.4rem 0.7rem
    border-radius: 6px
    color: white
    @include smart-light-theme
      box-shadow: 1px 1px 3px var(--light-theme-color-shadow)
      background-color: var(--light-theme-color-blob)
    @include smart-dark-theme
      box-shadow: none
      background-color: var(--dark-theme-color-blob)

  span.right-side
    text-align: right
    @include max-width(450px)
      vertical-align: -2.3rem
    div.nav.wrap
      display: inline-block
      vertical-align: middle
      @include max-width(450px)
        display: inline
      nav
        @include max-width(450px)
          margin-bottom: 0.5rem
      a
        @include smart-light-theme
          color: var(--light-theme-color-glyph)
        @include smart-dark-theme
          color: var(--dark-theme-color-glyph)
    div#button-group
      display: inline-block
      button#colorscheme-switcher
        display: inline-block
        padding: 0.2rem 0.7rem
        border-radius: 5px
        text-decoration: none
        &::-moz-focus-inner
          border: 0
        &:before
          vertical-align: -0.2rem
          content: ""
          display: inline-block
          height: 1rem
          width: 1rem
          background-size: 1rem 1rem
          background-repeat: no-repeat
        @include smart-light-theme
          color: white
          background: var(--light-theme-color-blob)
          border: none
          &:before
            background-image: url('data:image/svg+xml; utf8, <svg t="1586162872066" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4212" width="200" height="200"><path d="M512 512m-236.307692 0a236.307692 236.307692 0 1 0 472.615384 0 236.307692 236.307692 0 1 0-472.615384 0Z" fill="#f0f0a7" p-id="4213"></path><path d="M512 779.815385c-147.298462 0-267.815385-120.516923-267.815385-267.815385s120.516923-267.815385 267.815385-267.815385 267.815385 120.516923 267.815385 267.815385-120.516923 267.815385-267.815385 267.815385z m0-472.615385c-112.64 0-204.8 92.16-204.8 204.8s92.16 204.8 204.8 204.8 204.8-92.16 204.8-204.8-92.16-204.8-204.8-204.8zM261.513846 293.021538c-7.876923 0-15.753846-3.150769-22.055384-9.452307l-27.569231-27.569231c-12.603077-12.603077-12.603077-32.295385 0-44.898462 12.603077-12.603077 32.295385-12.603077 44.898461 0l27.569231 27.569231c12.603077 12.603077 12.603077 32.295385 0 44.898462-7.089231 6.301538-14.966154 9.452308-22.843077 9.452307zM157.538462 543.507692h-39.384616c-17.329231 0-31.507692-14.178462-31.507692-31.507692s14.178462-31.507692 31.507692-31.507692h39.384616c17.329231 0 31.507692 14.178462 31.507692 31.507692s-14.178462 31.507692-31.507692 31.507692zM233.156923 822.350769c-7.876923 0-15.753846-3.150769-22.055385-9.452307-12.603077-12.603077-12.603077-32.295385 0-44.898462l27.569231-27.569231c12.603077-12.603077 32.295385-12.603077 44.898462 0 12.603077 12.603077 12.603077 32.295385 0 44.898462l-27.569231 27.569231c-6.301538 6.301538-14.178462 9.452308-22.843077 9.452307zM512 937.353846c-17.329231 0-31.507692-14.178462-31.507692-31.507692v-39.384616c0-17.329231 14.178462-31.507692 31.507692-31.507692s31.507692 14.178462 31.507692 31.507692v39.384616c0 17.329231-14.178462 31.507692-31.507692 31.507692zM790.843077 822.350769c-7.876923 0-15.753846-3.150769-22.055385-9.452307L740.430769 784.541538c-12.603077-12.603077-12.603077-32.295385 0-44.898461 12.603077-12.603077 32.295385-12.603077 44.898462 0l27.569231 27.569231c12.603077 12.603077 12.603077 32.295385 0 44.898461-6.301538 7.089231-14.178462 10.24-22.055385 10.24zM905.846154 543.507692h-39.384616c-17.329231 0-31.507692-14.178462-31.507692-31.507692s14.178462-31.507692 31.507692-31.507692h39.384616c17.329231 0 31.507692 14.178462 31.507692 31.507692s-14.178462 31.507692-31.507692 31.507692zM762.486154 293.021538c-7.876923 0-15.753846-3.150769-22.055385-9.452307-12.603077-12.603077-12.603077-32.295385 0-44.898462l27.569231-27.569231c12.603077-12.603077 32.295385-12.603077 44.898462 0 12.603077 12.603077 12.603077 32.295385 0 44.898462L784.541538 283.569231c-5.513846 6.301538-14.178462 9.452308-22.055384 9.452307z" fill="#ffffff" p-id="4214"></path><path d="M512 189.046154c-17.329231 0-31.507692-14.178462-31.507692-31.507692v-39.384616c0-17.329231 14.178462-31.507692 31.507692-31.507692s31.507692 14.178462 31.507692 31.507692v39.384616c0 17.329231-14.178462 31.507692-31.507692 31.507692z" fill="#fff" p-id="4215"></path></svg>');
        @include smart-dark-theme
          color: #eee
          background: var(--dark-theme-color-blob)
          &:before
            background-image: url('data:image/svg+xml; utf8, <svg t="1586160562619" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2242" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200"><defs><style type="text/css"></style></defs><path d="M216.615385 464.738462m-98.461539 0a98.461538 98.461538 0 1 0 196.923077 0 98.461538 98.461538 0 1 0-196.923077 0Z" fill="#eee" p-id="2243"></path><path d="M485.218462 705.772308m-59.076924 0a59.076923 59.076923 0 1 0 118.153847 0 59.076923 59.076923 0 1 0-118.153847 0Z" fill="#eee" p-id="2244"></path><path d="M787.692308 386.756923c32.295385 0 59.076923 26.781538 59.076923 59.076923 0-32.295385 26.781538-59.076923 59.076923-59.076923-32.295385 0-59.076923-26.781538-59.076923-59.076923 0 32.295385-25.993846 59.076923-59.076923 59.076923z" fill="#aaa" p-id="2245"></path><path d="M846.769231 461.587692c-8.664615 0-15.753846-7.089231-15.753846-15.753846 0-23.630769-19.692308-43.323077-43.323077-43.323077-8.664615 0-15.753846-7.089231-15.753846-15.753846s7.089231-15.753846 15.753846-15.753846c23.630769 0 43.323077-19.692308 43.323077-43.323077 0-8.664615 7.089231-15.753846 15.753846-15.753846s15.753846 7.089231 15.753846 15.753846c0 23.630769 19.692308 43.323077 43.323077 43.323077 8.664615 0 15.753846 7.089231 15.753846 15.753846s-7.089231 15.753846-15.753846 15.753846c-23.630769 0-43.323077 19.692308-43.323077 43.323077 0 8.664615-7.089231 15.753846-15.753846 15.753846z m-13.390769-74.830769c4.726154 3.938462 9.452308 7.876923 13.390769 13.390769 3.938462-4.726154 7.876923-9.452308 13.390769-13.390769-4.726154-3.938462-9.452308-7.876923-13.390769-13.390769-3.938462 4.726154-7.876923 9.452308-13.390769 13.390769zM567.138462 236.307692c65.378462 0 118.153846 52.775385 118.153846 118.153846 0-65.378462 52.775385-118.153846 118.153846-118.153846-65.378462 0-118.153846-52.775385-118.153846-118.153846 0 65.378462-52.775385 118.153846-118.153846 118.153846z" fill="#aaa" p-id="2246"></path><path d="M685.292308 370.215385c-8.664615 0-15.753846-7.089231-15.753846-15.753847 0-56.713846-45.686154-102.4-102.4-102.4-8.664615 0-15.753846-7.089231-15.753847-15.753846s7.089231-15.753846 15.753847-15.753846c56.713846 0 102.4-45.686154 102.4-102.4 0-8.664615 7.089231-15.753846 15.753846-15.753846s15.753846 7.089231 15.753846 15.753846c0 56.713846 45.686154 102.4 102.4 102.4 8.664615 0 15.753846 7.089231 15.753846 15.753846s-7.089231 15.753846-15.753846 15.753846c-56.713846 0-102.4 45.686154-102.4 102.4 0 8.664615-7.089231 15.753846-15.753846 15.753847z m-55.138462-133.907693c23.630769 12.603077 42.535385 31.507692 55.138462 55.138462 12.603077-23.630769 31.507692-42.535385 55.138461-55.138462-23.630769-12.603077-42.535385-31.507692-55.138461-55.138461-12.603077 23.630769-31.507692 42.535385-55.138462 55.138461z" fill="#aaa" p-id="2247"></path><path d="M512 937.353846c-234.732308 0-425.353846-190.621538-425.353846-425.353846 0-233.944615 189.833846-424.566154 423.778461-425.353846 11.027692 0 21.267692 6.301538 26.781539 15.753846 5.513846 9.452308 5.513846 21.267692 0 31.507692-22.055385 39.384615-33.870769 83.495385-33.870769 129.181539 0 145.723077 118.153846 263.876923 263.876923 263.876923 43.323077 0 84.283077-10.24 122.88-30.72 10.24-5.513846 22.055385-4.726154 31.507692 0.787692 9.452308 6.301538 14.966154 16.541538 14.966154 27.569231-3.150769 111.064615-48.836923 214.252308-128.393846 292.233846C728.615385 894.818462 623.852308 937.353846 512 937.353846z m-51.987692-783.753846C285.144615 178.806154 149.661538 330.043077 149.661538 512c0 200.073846 162.264615 362.338462 362.338462 362.338462 179.593846 0 328.467692-128.393846 356.824615-300.898462-32.295385 10.24-66.953846 15.753846-100.824615 15.753846C587.618462 589.193846 441.107692 442.683077 441.107692 262.301538c0-37.021538 6.301538-74.043077 18.904616-108.701538z" fill="#aaa" p-id="2248"></path></svg>');
        @include max-width(450px)
          margin-right: 10px

.labels
  a.category
    border: none // remove wired border
    @include smart-light-theme
      background-color: var(--light-theme-color-blob)
    @include smart-dark-theme
      background-color: var(--dark-theme-color-blob)
  a.tag
    @include smart-light-theme
      color: var(--light-theme-color-glyph)
    @include smart-dark-theme
      color: var(--dark-theme-color-glyph)

// ==== index page ==== //

div#content ul.note.list li.item
  box-shadow: none
  background: inherit
  padding-bottom: 8px
  &:hover
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,.12)
    & a.note
      opacity: 1
    @include smart-light-theme
      background: white
    @include smart-dark-theme
      background: #393e46

.pagination ul li a.active
  @include smart-light-theme
    background: var(--light-theme-color-blob)
  @include smart-dark-theme
    background: var(--dark-theme-color-blob)

// ==== post page ==== //

div#book
  $collapseWidth: 1600px
  $compatWidth: 1000px
  $narrowWidth: 500px
  display: flex
  &.left-side
    flex-direction: row
  flex-direction: row-reverse
  align-items: flex-start
  @include margin-side(auto)
  max-width: 1920px
  @include max-min-width($collapseWidth, $compatWidth)
    max-width: $compatWidth
  @include max-width($collapseWidth)
    align-items: stretch
    flex-direction: column !important

  div.placeholder
    flex: 1 6 20%
  aside#menu
    flex: 1 6 20%
    position: sticky
    top: 1rem
    @include max-width($collapseWidth)
      position: unset
    &.fix-top
      top: 0
      position: sticky
    div#toc
      @include max-width($collapseWidth)
        margin-bottom: 1rem
      div.toolbar
        margin-left: 1.3rem
        @include max-width($collapseWidth)
          margin-left: 0
        button
          padding: 0.1rem 0.4rem
          border-radius: 5px
          text-decoration: none
          border: none
          &::-moz-focus-inner
            border: 0
          @include smart-light-theme
            color: white
            background: var(--light-theme-color-shadow)
          @include smart-dark-theme
            color: #ddd
            background: var(--dark-theme-color-shadow)
        button#tocButton:before
          content: "＋ "
        button#scroll
          all: unset
          border-radius: 50%;
          box-shadow: 1px 1px 5px 3px rgba(0,0,0,.12)
          position: fixed
          bottom: 30px
          right: 30px
          width: 65px
          height: 65px
          z-index: 10000
          display: none
          &.scrolling
            display: unset
          svg
            border-radius: 50%;
            width: 100%
            height: 100%
            @include smart-light-theme
              background-color: var(--light-theme-color-blob)
              path
                fill: #fff
            @include smart-dark-theme
              background-color: var(--dark-theme-color-blob)
              path
                fill: #333
      div#toc-list
        font-size: 0.82rem
        @include smart-light-theme
          ::-webkit-scrollbar
            width: 5px
            @include smart-light-theme
              background-color: #fff
            @include smart-dark-theme
              background-color: #393e46
          ::-webkit-scrollbar-thumb
            border-radius: 10px
            background-color: #aaa
        @include smart-dark-theme
          ::-webkit-scrollbar-thumb
            background-color: #777
        ::-webkit-scrollbar-track
            background-color: unset
        #TableOfContents
          margin-left: 1.3rem
          @include max-width($collapseWidth)
            margin-left: 0
          margin-top: .4rem
          max-width: 300px
          border-radius: 6px
          box-shadow: 1px 1px 5px 3px rgba(0,0,0,.12)
          height: 85vh
          overflow-y: auto
          scrollbar-width: thin
          @include smart-light-theme
            background: white
            scrollbar-color: #aaa #fff
          @include smart-dark-theme
            background: #393e46
            scrollbar-color: #999 rgba(0,0,0,0)
          @include max-width($collapseWidth)
            overflow-y: unset
            height: unset
          > ul
            padding-bottom: 1rem
          ul
            padding-left: 1.25rem
            list-style-type: none
            li
              padding-top: .35rem
              ::marker
                color: #7a7a7a
          ul ul
            list-style-type: decimal
        a
          @include smart-dark-theme
            color: #606e97
        display: none
      &.expanded
        div#toc-list
          display: unset
        div.toolbar button#tocButton:before
          content: "ー "

  div.article-container
    flex: 3 1 60%
    @include max-width(450px)
      margin-left: -20px
      margin-right: -20px

div.article-container
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,.12)

article.article.markdown-body
  @include smart-light-theme
    color: #222
  @include smart-dark-theme
    color: rgba(255,255,255,0.65)
  a
    @include smart-light-theme
    @include smart-dark-theme
      color: var(--dark-theme-color-link)
  p code, li code // exclude fenced code block
    hyphens: none
    padding: 0.1rem 0.3rem
    border-radius: 3px
    @include smart-light-theme
      color: var(--light-theme-color-code-glyph)
      background-color: var(--light-theme-color-code-blob)
    @include smart-dark-theme
      color: var(--dark-theme-color-code-glyph)
      background-color: var(--dark-theme-color-code-blob)
  pre
    @include smart-light-theme
      background-color: var(--light-theme-color-code-block-blob)
    @include smart-dark-theme
      border: none
      background-color: var(--dark-theme-color-code-block-blob)
  blockquote
    padding: 0.35em
    @include smart-light-theme
      border-left: 6px solid var(--light-theme-color-blob)
    @include smart-dark-theme
      border-left: 6px solid var(--dark-theme-color-blob)

section.article.license
  text-align: right
  font-size: 0.8rem
  @include smart-light-theme
    color: var(--light-theme-color-faint)
  @include smart-dark-theme
    color: var(--dark-theme-color-faint)

section#footer
  a
    @include smart-light-theme
    @include smart-dark-theme
      color: var(--dark-theme-color-link)
