:root {
  --main-color-back: #c586c6;
  --main-color-front: #943c95;
}

.site.name {
  color: #fff;
  background-color: var(--main-color-back);
  display: block;
  padding: 0.1rem 0.6rem;
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  .site.name {
    box-shadow: 1px 1px 3px #9d90aa;
  }
}
@media (prefers-color-scheme: dark) {
  .site.name {
  }
}

.category {
  background-color: var(--main-color-back);
  border: none;
}

.tag {
  color: var(--main-color-front);
}

@media (prefers-color-scheme: light) {
  .nav a {
    color: var(--main-color-front);
  }
}
@media (prefers-color-scheme: dark) {
  .nav a {
    color: var(--main-color-back);
  }
}

.article.license {
  text-align: right;
  font-size: 0.8rem;
}

.article.markdown-body blockquote {
  border-left: 6px solid var(--main-color-back);
  padding: .35em;
}

p code {
  padding: .1rem .3rem;
  border-radius: 3px;
}
@media (prefers-color-scheme: light) {
  p code {
    color: var(--main-color-front);
    background-color: #f0f0f0;
  }
}
@media (prefers-color-scheme: dark) {
  p code {
    color: var(--main-color-back);
    background-color: #323242;
  }
}
