{{ $commentsJS := resources.Get "js/comments.js" | minify | fingerprint }}

{{- if gt (len site.DisqusShortname) 0 -}}
  {{- if or (eq .Params.comments true) (and (ne .Params.comments false) (eq site.Params.comments.enable true)) -}}
    <section class="article discussion">
      <div id="remark42"></div>
      <script type="text/javascript" src="{{ $commentsJS.Permalink }}"></script>
      <style>
        #remark42 {
          margin: 26px 0px;
        }
      </style>
    </section>
  {{- end -}}
{{- end -}}
