{{- if gt (len site.DisqusShortname) 0 -}}
  {{- if or (eq .Params.comments true) (and (ne .Params.comments false) (eq site.Params.comments.enable true)) -}}
    <section class="article discussion">
      <div id="remark42"></div>
      <script>
        var remark_config = {
            host: "https://comments.srv.2cat.cc",
            site_id: '2cat.cc',
            components: ['embed'],
        };
        (function(c) {
          for(var i = 0; i < c.length; i++){
            var d = document, s = d.createElement('script');
            s.src = remark_config.host + '/web/' +c[i] +'.js';
            s.defer = true;
            (d.head || d.body).appendChild(s);
          }
        })(remark_config.components || ['embed']);
      </script>
    </section>
  {{- end -}}
{{- end -}}
