{{- $nav := site.Params.nav -}}

<section id="header" class="site header">
  <div class="header wrap">
    <span class="header left-side">
      <a class="site home" href="{{- `/` | relLangURL -}}">
      {{- if (or .IsHome ( eq .RelPermalink "/about/" ) ) -}}
        <!-- Bing SEO suggest tag <h1> -->
        <h1 class="site name">{{- site.Title | safeHTML -}}</h1>
      {{- else -}}
        <span class="site name">{{- site.Title | safeHTML -}}</span>
      {{- end -}}
       </a>
    </span>
    <span class="header placeholder middle">&nbsp;</span>
    <span class="header right-side">
      <div class="nav wrap">
        <nav class="nav">
          {{- if $nav.showTags -}}
              <a class="nav item" href="{{- `/tags/` | relLangURL -}}">{{- T "Tags" -}}</a>
          {{- end -}}
          {{- if $nav.showCategories -}}
              <a class="nav item" href="{{- `/categories/` | relLangURL -}}">{{- T "Categories" -}}</a>
          {{- end -}}
          {{- range $nav.custom -}}
            {{- $url := .url | safeURL -}}
            {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
            <a class="nav item" href="{{- $url -}}"
              {{- if strings.HasPrefix $url "http" -}}target="_blank"{{- end -}}>{{- .title -}}</a>
          {{- end -}}
        </nav>
      </div><div id="button-group">
        <button id="colorscheme-switcher" onclick=switchColorscheme()>auto</button>
      </div>
    </span>
  </div>
</section>
