{{- $nav := slice
  (dict "text" "RSS" "url" "/index.xml" "icon" "rss-square" "newtab" false)
  (dict "text" "CatchCat" "title" "关于我" "url" "/about" "icon" "box-heart" "newtab" false)
-}}

{{/* 没看懂主题这里为什么嵌套多层nav */}}
<div class="nav wrap">
  <nav class="nav">
    {{- range $nav -}}
      <a class="nav item link" href="{{- .url -}}"
        {{- if .text -}} title="{{- .title -}}" {{- end -}}
        {{- if .newtab -}} target="_blank" rel="noopener noreferrer" {{- end -}}>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-{{- .icon -}}"></use>
        </svg>
        <span>{{- .text -}}</span>
      </a>
    {{- end -}}
    <button id="theme-changer" class="nav item"
      onclick="themeManager.setNextTheme()" title="切换主题">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-lightbulb"></use>
      </svg>
    </button>
  </nav>
</div>
