{{- define "head-meta" -}}{{- partial "head-meta.html" . -}}{{- end -}}
{{- define "head-link" -}}{{- partial "head-link.html" . -}}{{- end -}}
{{- define "head-style" -}}{{- partial "head-style.html" . -}}{{- end -}}
{{- define "head-script" -}}{{- partial "head-script.html" . -}}{{- end -}}

{{ define "main"}}
  <main id="main">
    <div>
      <h2>页面不见了</h2>
      <h1 id="title"><a href="{{ "/" | relURL }}">返回首页</a></h1>
    </div>
  </main>
{{ end }}

{{- define "body-script" -}}{{- partial "body-script.html" . -}}{{- end -}}
