{{- define "head-meta" -}}
{{- partial "head-meta.html" . -}}
<meta name="robots" content="noindex">
{{- end -}}
{{- define "head-link" -}}{{- partial "head-link.html" . -}}{{- end -}}
{{- define "head-style" -}}{{- partial "head-style.html" . -}}{{- end -}}
{{- define "head-script" -}}{{- partial "head-script.html" . -}}{{- end -}}

{{- define "main" -}}
{{- $paginator := .Paginator -}}
<section class="article header"><h1>{{- .Title -}}</h1></section>
{{- partial "note-list.html" $paginator -}}
{{- partial "pagination.html" $paginator -}}
{{- end -}}

{{- define "body-script" -}}{{- partial "body-script.html" . -}}{{- end -}}

<!-- vim: ft=gohtmltmpl
-->
